* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
.pri-text {
  color: #3a3a3a;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
}
.pri-btn {
  color: white;
  display: inline-flex;
  padding: 10px 24px;
  border-radius: 41px;
  background: #e02c6d;
  font-size: 16px;
  font-weight: 700;
  border: none;
}
.logo {
  width: 243px;
  height: 52.2px;
}
.prebook {
  margin-top: 55px;

  margin-left: 40px;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 120px;
  margin-right: 120px;
  margin-top: 85px;
}
.ul-links ul {
  display: flex;
}

.ul-links ul li {
  margin-left: 20px;
  list-style: none;
}
.ul-links ul li a {
  text-decoration: none;
  color: rgb(21, 18, 18);
}
.ul-links ul li a:hover{
  background-color: rgba(55, 27, 27, 0.57) ;
  color: whitesmoke;
  border-radius: 5px;
  padding: 2.5px;
}
/* nav close */

/* banner Start */
.banner {
  display: flex;
  align-items: center;
  width: 100%;
  height: 475px;
  /* border: 2px solid rebeccapurple; */
  margin: 0 auto;
}

.sec-one-text {
  width: 45%;
  margin-left: 120px;
}

.sec-one-title {
  font-size: 52px;
  font-weight: 700;
}
.sec-one-img img {
  background-image: url(images/Circle\ design.svg);
  width: 440px;
  height: 414px;
  margin-top: 80px;
  margin-left: 90px;
}
.spo {
  display: flex;
  justify-content: center;
}

.sponsers {
  margin: 70px;

  height: 75px;
  width: 70%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid rgb(199, 150, 150);
  border-top: 1px solid rgb(199, 150, 150);
}
.sponsers img {
  width: 74px;
  height: 25.284px;
}

.Popular {
  display: flex;
}
.pc-text {
  margin: 0 auto;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 39px;
}

.card {
  width: 329px;
  height: 440px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
}

.card :hover{
  margin: 10px;
  padding: 5px;
}
.card-img {
  width: 300px;
  height: 256px;
  border-radius: 5px;
  margin-top: 17px;

  margin-left: 15px;
}
.card-title {
  margin-left: 14px;
  font-weight: 500;
  font-size: 24px;
  color: #18191f;
}
.card-price {
  color: rgba(0, 0, 0, 0.87);
  font-family: Arial, sans-serif;
  font-size: 20px;
  margin-left: 14px;
  margin-top: 10px;
  font-weight: 400;
  line-height: 150%;
}
.card-p {
  color: #787885;
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  letter-spacing: 0.252px;
  margin-left: 14px;
  line-height: 143%;
  margin-top: 10px;
}

.Popular-Collection {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  margin-left: 196px;
  margin-right: 197px;
  padding-bottom: 10px;
}
.Popular-Collection-p {
  margin-left: 1154px;
  margin-top: 30px;
  margin-bottom: 40px;
}
.last-div {
  display: flex;
  justify-content: center;
  margin-bottom: 200px;
}

.last {
  display: flex;
  width: 70%;
  height: 270px;
  margin: 200px, 165px;

  align-items: center;
  justify-content: space-between;
}
.last img {
  border-radius: 7px;
}

.last-lines {
  margin-left: 150px;
}
.last-lines p {
  margin-bottom: 25px;
}
.last-button {
  display: inline-flex;
  padding: 10px 24px;
  background-color: #e02c6d;
  border: none;
  color: #fff;
}

footer {
  background: #0a0826;
  width: 100%;
  height: 239px;
  
}


.logo1 {
  color: #fff;
 display: inline;
  font-size: 20px;
  font-weight: 700;
  padding: 0;
  margin: 0;

}
/* footer div{
  margin-left: 50%; */
 
.fdiv1{

  height: 70%;
  margin: 0 495px;
  padding:10px 150px;
  display: flex;
  border: 1px solid #201e43;;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 
}

small{
  margin-left: -45px;
}
.p1{
  font-size: 2px;

}
.f-img{
  width: 40px;
}